body{
    width: 100vw;
    /* display: flex;
    justify-content: center; */
    margin-top: 100px;
    /* position: relative; */
}
body > div {
    position: relative;
}
#myBoard{ 
    position: relative;
}
#arrow{
    transform-origin:50% 0;
    color: red;
    opacity: 50%;
    position: absolute;
    width: fit-content;
    height: fit-content;
    pointer-events: none;
}
#arrowContainer{
    position: absolute;
    transform-origin: 6px 17.5px;
    width: max-content;
    height: max-content;

    
    /* transform: rotate(180deg); */
}
/* canvas{
    border: solid 2px black;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
}  */