/* div[data-square="a8"]{
  border: solid 1px red;
  background-color: blue!important;
} */
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: "500px";
}
.grey-highlight[data-square-color="white"]{
  background-color: #a9a9a9!important;
}
.grey-highlight[data-square-color="black"]{
  background-color: #696969!important;
}

.main-highlight[data-square-color="black"]{
  background-color: rgb(207, 107, 42,0.7)!important;
}
.main-highlight[data-square-color="white"]{
  background-color: rgb(207, 107, 42,0.6)!important;
}